@import "pallete";
@import "spacing";
@import "size";
@import "variables";

*,
*::before,
*::after {
  box-sizing: border-box;
}

img {
  max-width: 100%;
  height: auto;
}

ul,
ol {
  list-style: none;
  padding-left: 0;
}

li {
  margin-bottom: 10px;
}
