@import "../../styles/index.scss";

.card-wrapper {
  background-color: $highlight-100;
  border-radius: $spacing-8;
  border: none;

  img {
    border-top-left-radius: $spacing-8;
    border-top-right-radius: $spacing-8;
  }

  .content {
    padding: $spacing-12;
    padding-bottom: $spacing-24;
    display: flex;
    flex-direction: column;
    gap: $spacing-40;

    .header {
      display: flex;
      justify-content: space-between;
      font-size: $font-large;

      .title {
        font-family: "Markazi Text";
        color: $highlight-80;
        font-weight: bold;
        font-size: $font-large;
      }

      .price {
        font-family: "Karla";
        color: $primary-80;
        font-weight: bold;
      }
    }

    .description {
      font-family: "Karla";
      color: $highlight-80;
    }

    .button {
      display: flex;
      justify-content: center;
    }

    button {
      border-radius: $spacing-16;
      background-color: $primary-80;
      text-align: left;
      font-family: "Karla";
      font-weight: bold;
      font-size: $font-small;
      color: $highlight-80;
      border: none;
      padding: $spacing-8;
      width: 200px;
      text-align: center;
      transition: background-color 0.3s;

      &:hover {
        background-color: darken($primary-80, 10%);
        cursor: pointer;
      }
    }
  }

  @media (min-width: $breakpoint-mobile) {
    max-width: 300px;

    .content {
      padding: $spacing-24;
    }
  }
}
